ul {
    /*height: 50px;*/
    max-height: 45vh;
    line-height: 35px;
    horiz-align: center;
    padding: 0;
    margin-bottom: 20px;
    overflow-y: scroll;
}

li {
    style: "overflow: hidden";
    padding: 0px;
}

.delete_button_icon {
    background-image: url("../delete_icon.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 0;
    padding: 15px;
    line-height: 35px;
}

.button_submit {
    background-color: #009b00;
}

.fl-right {
    display: flex;
}

.navbar-color {
    color: rgba(255, 255, 255, 0.55) !important;
    text-decoration: none;
}

.navbar-color:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.login {
    color: rgba(200, 200, 255, 0.6) !important;
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    align-items: center;
    justify-items: center;
    margin-top: auto;
    left: 90px;
}

.login:hover {
    color: rgba(200, 200, 255, 0.8) !important;
}