{% extends 'base.html' %}
{% load static %}

{% block title %} Todo List {% endblock title %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col">
            <h2 align="center">Add Item</h2>
            <form id="task_form" class="form-inline" action="add_task/" method="post" align="center">
                <div align="center">
                    <input type="text" class="form-control w-50 mb-2 mr-sm-2" placeholder="Enter task"
                           name="content"
                           maxlength="64" required oninvalid="this.setCustomValidity('task can not be empty')"
                           oninput="setCustomValidity('')">
                </div>
                <button type="submit" class="button_submit btn btn-primary mb-2">Submit</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    {% if "fail_to_delete" in message.tags %}
                        <div class="text-danger text-center mb-2"> {{ message }} </div>
                    {% endif %}
                    {% if "fail_to_add" in message.tags %}
                        <div class="text-danger text-center mb-2"> {{ message }} </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <ul class="list-group">
                {% for task in items %}
                    <li class="list-group-item align-items-center border-black">
                        <div class="row">
                            <div class="col-lg-8 mb-1">
                                {{ task.title }}
                            </div>
                            <div class="col-lg-3">
                                {{ task.added_date }}
                            </div>
                            <div class="col-lg-1">
                                <form class="form-inline" action="delete_task/{{ task.id }}/" method="post">
                                    <button type="submit" class="btn btn-lg delete_button_icon"></button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="shadow-border">
            <div class="text-center mr-top-25">
                <p>you are not logged in! <br>Please login to your account first to be able to use the site features</p>
            </div>
            <div class="myform-button text-center">
                <button onclick="location.href='{% url 'login' %}'" class="myform-btn">Login</button>
            </div>
            <div class="mr-top-25 text-center">
                <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up</a></p>
            </div>
        </div>
    {% endif %}
{% endblock content %}